// Mobile Responsive Breakpoint
$screen-xxs:      320px;
$screen-xs:       543px;
$screen-sm:       767px;
$screen-md:       991px;
$screen-lg:       1199px;

// Basic
$base-font-size:         14px !default;

// Define common font color and background color.
$white:                  #FFF !default;
$text-black:             #24243F !default;
$background-color:       $white !default;

// Define table variable
$head-background-color:  #F6F6F6 !default;
$text-soft-grey:         #F9F9F9 !default;
$text-grey:              #888 !default;
$text-green:             #2A5629 !default;
$border-top-color:       #E4E4E4 !default;
$border-bottom-color:    #EEE !default;
$td-background-color:    #FAFAFA !default;
$nav-link:               #9B9B9B !default;

// Define common padding and border radius sizes and more.
$border-radius:          6px !default;
$border-radius-lg:       8px !default;
$border-radius-sm:       4px !default;
