.logo-2x {
  width: 215px;

  @media(max-width: $screen-md) {
    width: 150px;
  }
}

.kokoro {
  .navbar {
    padding: 32px 0;
    border-bottom: solid 1px #EEE;

    @media(max-width: $screen-md) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      padding: 1rem;
      padding-bottom: 0.8rem;
      background: #F9F9F9;
    }

    .navbar-brand {
      @media(max-width: $screen-md) {
        padding: 0;
      }
    }

    .nav-link {
      color: #9b9b9b;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      padding: 0 14px;
      border-right: 1px solid #EEE;

      &.active {
        color: #2a5629;
      }

      @media(max-width: $screen-md) {
        text-transform: capitalize;
        padding: 8px 0;
        border-right: 0;
        font-size: 14px;
      }
    }

    .nav-item:last-child > .nav-link {
      border-right: 0;
    }

    .ml-auto {
      @media(max-width: $screen-md) {
        background: white;
        border: 1px solid #F7F7F7;
        border-radius: 6px;
        margin-top: 8px;

        li.nav-item {
          padding: 0.2rem 1rem;
          border-bottom: 1px solid #F7F7F7;
        }

        li.nav-item:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
