.therapist-view-table {
  h1 {
    font-size: 20px;
    font-weight: 300;
    color: $everglade;
    padding: 10px 0;
    margin-top: 30px;
  }
}

.assign-therapist {
  margin-bottom: 0;

  .in-progress {
    opacity: 0.4;
  }
}

.kokoro-table {
  border-collapse: separate;
  border-spacing: 0;
  border: solid $head-background-color 1px;
  border-radius: 6px;
  border-left: 0;
  border-top: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: $text-grey;
  text-align: center;

  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 50%;
  }

  td.therapist {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    color: $text-green;
  }

  > thead:first-child > tr:first-child > th {
    background-color: $head-background-color;
    border-top: solid $head-background-color 1px;
    border-bottom: solid $border-bottom-color 1px;
    color: $text-green;
    font-weight: 600;
    font-size: 1.143rem;
    line-height: 1.19;
    padding: 14px;
    text-align: center;
  }

  td,
  th {
    border-left: none;
    border-top: 1px solid $border-top-color;
    border-bottom: 1px solid $border-bottom-color;
    background-color: $td-background-color;
    padding: 32px;
  }

  > :last-child > tr > td {
    border-bottom: none;
  }

  > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
  }

  > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
  }

  > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
  }

  > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
  }
}

.order-history {
  td {
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-bold-booking {
    font-size: 13px;
    font-weight: bold;
  }
}

.kokoro-blue-table {
  margin-top: 40px;
  display: block;
  position: relative;

  h4 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 18px;

    span {
      text-align: right;
      float: right;
      font-size: 16px;
    }
  }

  .heading-text {
    margin-bottom: 35px;

    &::after {
      content: '';
      background: #63AFCB;
      width: 100px;
      height: 4px;
      margin-top: 5px;
      position: absolute;
    }
  }

  .table-responsive {
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #63AFCB;
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    }
  }

  thead {
    background: #63AFCB;
    color: #FFF;
    font-size: 14px;

    #therapist-data {
      th {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          min-width: 200px;
        }

        &:nth-child(6) {
          min-width: 180px;
        }
      }
    }

    th {
      padding: 18px;
      text-align: center;
      font-size: 14px;
      vertical-align: middle;
      border: 0;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        min-width: 200px;
      }

      &:nth-child(5) {
        min-width: 250px;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid #E2E2E2;
        padding: 20px;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0;
        text-align: center;
        color: #9B9B9B;
        border-top: 0;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
          text-align: left;
        }

        &.action-button {
          text-align: center;

          button {
            &:first-child {
              margin-right: 8px;
            }

            &:last-child {
              margin-left: 8px;
            }
          }
        }
      }
    }

    .avatar {
      border-radius: 100%;
      margin-bottom: 15px;
    }
  }

  .ratting-star {
    position: relative;
    width: 100%;
    float: left;
    display: block;

    .dv-star-rating-non-editable {
      display: block;
      position: relative;
      float: left;
    }
  }

  .ratting-star {
    position: relative;
    width: 100%;
    float: left;
    display: block;

    .dv-star-rating-non-editable {
      display: block;
      position: relative;
      float: left;
    }
  }

  @media (max-width: $screen-xxs) {
    margin-top: 50px;

    h4 {
      font-size: 16px;

      span {
        display: none;
      }
    }
  }

  @media (max-width: $screen-xs) {
    margin-top: 50px;

    h4 {
      font-size: 16px;

      span {
        display: none;
      }
    }
  }

  @media (max-width: $screen-sm) {
    margin-top: 50px;

    h4 {
      font-size: 16px;

      span {
        display: none;
      }
    }
  }
}
